#form{
    height: 500px;
    width: 600px;
    position: relative;
    top: 50px;
    left: 450px;
}

#text1{
    height: 30px;
    width: 500px;
}
#text2{
    height: 400px;
    width: 500px;
}
#addNote{
    height: 40px;
    width: 508px;
    margin-top: 8px;
    background-color: rgb(0, 15, 222);
    color: white;
    font-size: large;
}